<input type="text" #searchId>
<button (click)="getDoctorbyHospital(searchId.value)">Load Doctors</button> 
<hr/>
            <div *ngFor="let doctor of doctor">
                <!--div>Dr. {{doctor.doctorName}}</div> 
                <div>Speciality: {{doctor.speciality}}</div>
                <div>State: {{doctor.state}}</div>
                <div>City: {{doctor.city}}</div>
                <div>Email: {{doctor.email}}</div>
                <div>Fees: {{doctor.chargePerVisit}}</div>
                <br/>
                <button (click)="moveToAFeedback()">View Feedback</button>            
            <hr/>
            </div-->

         
            <div class="card" style="width: 18rem;">
                <!--img class="card-img-top" src="..." alt="Card image cap"-->
                <div class="card-body">
                <h5 class="card-title">Dr. {{doctor.doctorName}}</h5>
                <div>Speciality: {{doctor.speciality}}</div>
                <div>State: {{doctor.state}}</div>
                <div>City: {{doctor.city}}</div>
                <div>Email: {{doctor.email}}</div>
                <div>Fees: {{doctor.chargePerVisit}}</div><br/>
                <button (click)="moveToAFeedback()">View Feedback</button>
                </div>
              </div>