<table>
    <tr>
        <td>
            <button (click)="getAllDoctors()">Load Doctors</button> 
            <div *ngFor="let doctor of allDoctors">
                <div>Dr. {{doctor.doctorName}}</div>
                <div>Speciality: {{doctor.speciality}}</div>
                <div>State: {{doctor.state}}</div>
                <div>City: {{doctor.city}}</div>
                <div>Email: {{doctor.email}}</div>
                <div>Fees: {{doctor.chargePerVisit}}</div>            
            <hr/>
            </div>
        </td>
    </tr>
</table>