.myApp{
    background-color: rgb(157, 218, 103);
    width: 32%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(11, 12, 17);
}

.myapp1{
    background-color: rgb(239, 195, 250);
    width: 32%;
}

.form{
    background-color: rgb(1, 14, 19);
    width: 30%;
}