<h1 class="myApp"> Add Hospital </h1>
<table class="myapp1">
    <tr>
        <td> Hospital Id </td>
        <td> <input type="text" #hospitalId/> </td>
    </tr>
    <tr>
        <td> Hopital Name </td>
        <td> <input type="text" #hospitalName/> </td>
    </tr>

    <tr>
        <td> Hopital City </td>
        <td> <select #city>
            <option> Pune </option>
            <option> Mumbai </option>
            <option> Nashik </option>
            <option> Dhule </option>
            <option> Hydrabad </option>
        </select> 
        </td>
    </tr>

    <tr>
        <td> Hopital State </td>
        <td> <select #state>
            <option> Maharashtra </option>
            <option> UtterPradesh </option>
            <option> Madhya Pradesh </option>
            <option> TamilNadu </option>
        </select> 
        </td>
    </tr>
   
    
    <tr>
            <td> Hospital Address</td>
            <td> <input type="text" #address/> </td>
     </tr>

     <tr>
        <td> Hospital Rating</td>
        <td> <input type="text" #hospitalRating/> </td>
    </tr>


    <tr>
        <td><input type="button" name="submit" value="Submit"></td>
    </tr>
</table>
<br/>
<br/>
