
           <!--<p>Enter HospitalId</p>
            <input type="text" #hospitalId>
            <button (click)="getHospitalsById(hospitalId.value)">Search HospitalId</button> 
                <div>HospitalName: {{hospital.hospitalName}}</div>
                <div>State: {{hospital.state}}</div>
                <div>City: {{hospital.city}}</div>
                <div>Address: {{hospital.address}}</div>
                <div>HospitalRating: {{hospital.hospitalRating}}</div>
                <hr/>
                --> 
           <br/>
            <button (click)="getAllHospitals()">View all Hospital</button> 
            
    <br/>
            <p>Enter City</p>
            <input type="text" #searchCity>
            <button (click)="getHospitalsByCity(searchCity.value)">Load Hospital</button> 
            
            <hr/>
            
<br/>
            <!--<p>Enter State</p>
            <input type="text" #searchState>
            <button (click)="getHospitalsByState(searchState.value)">Load Hospital</button> 
            -->
            
            <div *ngFor="let hospital of allHospital">
                <table>
              <tr>
                <td> <img src="/assets/images/{{hospital.imageName}}" width="90px" height="100px"></td> 
       
        <td>
            <div>HospitalName: {{hospital.hospitalName}}
                <button (click)="moveToApollo()">View Hospital</button>
            </div>

           
            <div>State: {{hospital.state}}</div>
            <div>City: {{hospital.city}}</div>
            <div>Address: {{hospital.address}}</div>
            <div>HospitalRating: {{hospital.hospitalRating}}</div>
            <!--button (click)="viewHospital(hospital.hospitalId, hospital.hospitalName, hospital.hospitalRating, hospital.address )">View Hospital</button-->                 
        </td>
        </tr>
</table>
        <hr/>
            </div>
        

