<!--table>
    <tr>
        <td>
            <button (click)="getAllAppointment()">Load Appointments</button> 
                <div *ngFor="let a of allAppointment">
               <div>appointmentId: {{a.appointmentId}}</div>
               <div>appointmentDate: {{a.date}}</div>
               <div>appointmentStatus: {{a.status}}</div>
               <div>appointmentremark: {{a.remark}}</div>

                <hr/>
            </div>
        </td>
    </tr>
</table-->

<div class="card" style="width: 18rem;">
    <button (click)="getAllAppointment()">Load Appointments</button> 
    <!--img class="card-img-top" src="..." alt="Card image cap"-->
    <div class="card-body">
        <div *ngFor="let a of allAppointment">
      <h5 class="card-title">{{a.appointmentId}}</h5>
        <div>appointmentDate: {{a.date}}</div>
        <div>appointmentStatus: {{a.status}}</div>
        <div>appointmentremark: {{a.remark}}</div><hr/>
        </div>
    </div>
  </div>