<p>Enter Doctor Name</p>
    <input type="text"  #searchName>
    <button (click)="getFeedbacksByDoctorsName(searchName.value)">Search Feedback</button>
    <hr/>
    <!--div *ngFor="let feedbacks of allFeedback">
        <div> Patient Name {{feedbacks.patientName}}</div>
        <div> Hospital Name {{feedbacks.hospitalName}}</div>
        <div> Doctor Name {{feedbacks.doctorName}}</div>
        <div> Rating {{feedbacks.rating}}</div>
        <div> Feedback {{feedbacks.feedback}}</div>
        <hr/-->

    <div class="card" style="width: 18rem;">
        <!--img class="card-img-top" src="..." alt="Card image cap"-->
        <div *ngFor="let feedbacks of allFeedback">
        <div class="card-body">
        <div *ngFor="let feedbacks of allFeedback">
        <h5 class="card-title">{{feedbacks.patientName}}</h5>
        <div> Doctor Name {{feedbacks.doctorName}}</div>
        <div> Rating {{feedbacks.rating}}</div>
        <div> Feedback {{feedbacks.feedback}}</div>
        </div>
        </div>
      </div>