<h1 class="myApp">Doctor Details</h1>

<table class="myapp1">

    <tr>
        <td> Hospital Name </td>
        <td> <input type="text" #hospitalName/> </td>
    </tr>

    <tr>
        <td> Doctor Name </td>
        <td> <input type="text" #doctorName/> </td>
    </tr>

    <tr>
        <td> Speciality </td>
        <td>
            <select #speciality>
                <option> General Physician </option>
                <option> Surgeon </option>
                <option> Dermatologist </option>
                <option> Orthodontist</option>
                <option>  Neurologist</option>
                
            </select>
        </td>
    </tr>

    <tr>
        <td> Fees </td>
        <td> <input type="text" #fees/> </td>
    </tr>

    <tr>
        <td><input type="button" name="submit" value="Submit"></td>
    </tr>

</table>
