.myApp{
    background-color: rgb(126, 218, 244);
    width: 32%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 18, 21);
}

.myapp1{
    background-color: rgb(226, 237, 239);
    width: 32%;
}

.form{
    background-color: rgb(3, 17, 22);
    width: 30%;
}