.myApp{
    background-color: burlywood;
    width: 32%;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.myapp1{
    background-color: beige;
    width: 32%;
}

.form{
    background-color: lightblue;
    width: 30%;
}