<table style="width: 100%;height: 10%;">
    <hr/>
    <tr>
        <td style="width: 10%; text-align: center;"> <a routerLink="/registerhospital">Register New hospital</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/hospital">View all hospital</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/upcomingevents">Upcoming Events</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/firstaidworkshop">First Aid Workshop</a></td>
        <td style="width: 10%; text-align: center;"> <a routerLink="/healthawareness">Health awareness</a></td>
    </tr>
</table>
<hr/>
<router-outlet></router-outlet>
