<table style="background-color: rgb(118, 222, 241);width: 100%;">
  <td><img src="/assets/images/logo4.png" alt="Logo" style="text-align: left;"  width="100px" height="100px"></td>
  <td style="vertical-align: top; color: black; "><h1>Book My Doctor App</h1>
  </td>
</table>
<table>
  <tr style="background-color: rgb(199, 248, 248); color:white;">
     
      <td style="width: 15%; text-align: center;"> <a routerLink="/addHospital">Add Hospital</a></td>
      <td style="width: 15%; text-align: center;"> <a routerLink="/addDoctor">Add Doctor</a></td>
      <td style="width: 15%; text-align: center;"> <a routerLink="/viewHospital">View Hospital</a></td>
      <td style="width: 15%; text-align: center;"> <a routerLink="/viewDoctors">View Doctors</a></td>
      <td style="width: 15%; text-align: center;"> <a routerLink="/viewPatient">View Patient</a></td>
      <td style="width: 15%; text-align: center;"> <a routerLink="/viewAppointment">View Appointment</a></td>
      <!--td style="width: 15%; text-align: center;"> <a routerLink="/viewFeedbacks">View Feedbacks</a></td-->
  </tr>
  </table>
  <hr/>
  <router-outlet></router-outlet>