/* .login{
    background-size: cover;
    background-color: rgba(190, 234, 234, 0.434);
} */
.link{
    width: 15%;
    text-align: center;
    color: rgb(11, 20, 38);
    font-size: 20px;
    border-right: rgb(11, 20, 38) 2px solid;
 }