<table>
    <tr>
        <td>
            <button (click)="getAllPatients()">Load Patients</button> 
            <div *ngFor="let patient of allPatients">
                <div>Id. {{patient.patientId}}</div>
                <div>PatientName.{{patient.patientName}}</div>
                <div>PatientCity.{{patient.patientCity}}</div>
                <div>PatientAge.{{patient.patientAge}}</div>
                <div>PatientGender.{{patient.patientGender}}</div> 
                <div>PatientDisease.{{patient.patientDisease}}</div>      
            <hr/>
            </div>
        </td>
    </tr>
</table>
