<table style="background-color: rgb(182, 247, 200); width: 100%;">
    <tr>
        <td style="width: 15%; text-align: center;"><a routerLink="/myAppointments">My Appointments</a></td>
        <td style="width: 15%; text-align: center;"><a routerLink="/viewPatient">View Patient</a></td>
        <td style="width: 15%; text-align: center;"><a routerLink="/addAvailability">Add Availability</a></td>
        <td style="width: 15%; text-align: center;"><a routerLink="/viewFeedback">View Feedback</a></td>
        <td style="width: 15%; text-align: center;"><a routerLink="/myProfile">My Profile</a></td>
    </tr>
</table>
<hr/>
<router-outlet></router-outlet>